<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Delete Competency?</h4>
    </div>
    <div class="modal-body" style="text-align:center;">
        <h3>Are you sure you want to delete this Competency?</h3>
        <h4>This action cannot be undone!</h4> 
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="dmc.cancel()">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="dmc.delete()">Delete</button>
    </div>
</div>